*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.logo{
    font-size: 40px;
    color:white;
    text-decoration: none;
    font-weight: 600;
}

.logo span{
    color: rgb(4, 110, 4);
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 70px;
    transition: 0.3s;
    flex-grow: 1;
}

.nav-menu{
    padding: 10px;
}

.navbar li{
    list-style: none;
}

.navbar a{
    font-size: 25px;
    color: white ;
    text-decoration: none;
    justify-content: center;
    font-weight: 500;
    transition: .3s;
}

.navbar a:hover {
    color:rgb(4, 110, 4); 
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

section{
    padding: 100px;
    min-height: 100vh;
    color: white;
}


#home{
    position: relative;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    position: relative;
}

#home::before{
    background-image: url('.jpg'); 
    background-size: cover;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;

}

.home-content h1{
    font-size: 100px;
    font-weight: 700;
    isolation: isolate;
}

.home-content h3{
    font-size: 35px;
    font-size: 700;
    isolation: isolate;
}

#skills {
    padding: 100px ;
    text-align: center;

}

#skills h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    top: 50px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill-card {
    background-color: #1c1b1b;
    padding: 30px;
    flex: 1;
    min-width: 300px;
    height: 280px;
    border: 1px solid #3a3a3a;
    text-align: left;
    color: white;
}

.skill-card h2 {
    font-family: sans-serif;
    font-size: 1.5rem;
    color: white; 
    margin-bottom: 20px;
    padding-top: 20px;
    text-decoration-line: underline;
    text-decoration-color: rgb(199, 61, 61);

    
}


.skill-card h3 {
    font-family: Arial;
    font-size: 1rem;
    color: white;
    line-height: 1.5;
    padding-top: 20px;
}

.skill-card i {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
    float: left;
    margin-right: 20px;
}

@media (max-width: 768px){

     .hamburger{
        display: block;
     }
    
     .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .navbar{
        position: fixed;
        right: -100%;
        top: -10px;
        flex-direction: column;
        background-color:rgb(0, 0, 0);
        width: 50%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        border-left: 3px solid #fffdd0;
        
    }


    .nav-item{
        margin: 16px 0;
    }

    .navbar.active{
        right: 0; 
    }
        
    .home-content h1{
        font-size: 3.5rem;
    }

    .home-content h3{
         font-size: 1.5rem;
    }

    #skills h1 {
        font-size: 3rem;
    }

    .skills-container {
        gap: 15px;
    }

    .skill-card {
        padding: 20px;
    }

    .skill-card h2 {
        font-size: 1.5rem;
    }

    .skill-card h3 {
        font-size: 0.9rem;
    }
}
