*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.logo{
    font-size: 40px;
    color:white;
    text-decoration: none;
    font-weight: 600;
}

.logo span{
    color: #FF7F11;
}

.navbar{
    display: flex;
    justify-content: center;
    gap: 70px;
    transition: 0.3s;
    flex-grow: 1;
}

.navbar li{
    list-style: none;
}

.navbar a{
    font-size: 25px;
    color: white ;
    text-decoration: none;
    justify-content: center;
    font-weight: 500;
    transition: .3s;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.navbar a:hover{
    color: white; 
}

.navbar:hover a:not(:hover){
    color: grey; 
}

.home{
    position: relative;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    position: relative;
}

.home::before{
    background-image: url('home.JPG'); 
    background-size: cover;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.5;

}

.home-content h1{
    font-size: 100px;
    font-weight: 700;
    isolation: isolate;
}

.home-content h3{
    font-size: 35px;
    font-size: 700;
    isolation: isolate;
}


@media (max-width: 768px){

     .hamburger{
        display: block;
     }
    
     .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    
    .navbar{
        position: fixed;
        right: -100%;
        top: -10px;
        flex-direction: column;
        background-color:rgb(0, 0, 0);
        width: 50%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease-in-out;
        border-left: 3px solid #fffdd0;
    }

    .nav-item{
        margin: 16px 0;
    }

    .navbar.active{
        right: 0; 
    }
        
    .home-content h1{
        font-size: 3.5rem;
    }

    .home-content h3{
         font-size: 1.5rem;
    }
}
